<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
  bootstrap="tests/phpunit/Bootstrap.php"
  backupGlobals="false"
  colors="true"
  cacheDirectory=".phpunit.cache"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnSkippedTests="true"
  displayDetailsOnIncompleteTests="true"
  >
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory="tests/phpunit/.coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/phpunit/tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
</phpunit>
